html{
    background: url(img/h_img.jpg);
    width: 100%;
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    height: 29rem;
    line-height: 4rem;
    text-align: center;
    background-color: black;
    color: #fff;
    

}
.header-txt{
    padding-top: 7rem;
    font-size: 2rem;

}
.bottom-header-txt{
    font-size: .7rem;

}
h2{
    text-align: center;
}

.about-us{
    text-align: center;
    background-color: rgb(245, 244, 244);
    color: rgb(61, 19, 19);
    height: 14rem;
    line-height: 3rem;

}

.ser-vice{
    text-align: center;
    background: url(img/s_image.jpg);
    color: rgb(109, 109, 109);
    height: 19rem;
    line-height: 3rem;
    

}

.what-we-do{
    
    background-color: rgb(190, 190, 190);
    color: rgb(0, 0, 0);
    height: 15rem;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}
.row .column{
    flex: 33.3%;
    width: auto;
    height: 10rem;
    text-align: center;
    
}
h3{
    margin-bottom: 0;
}
.first-col{
    background-color: rgb(255, 255, 255);

}
.second-col{
    background-color: rgb(255, 255, 255);

}
.third-col{
    background-color: rgb(255, 255, 255);

}
.portfolio{
    height: 23rem;
    background-color: rgb(138, 135, 135);
    text-align: center;
    color: seashell;
}

img{
    max-height: 9rem;
    width: 14rem;
}
.contact-us{
    background: url(img/c_image.jpg);
    left: 2rem;
    color: aliceblue;
    height: 22rem;
    line-height: 3rem;
    

}

form{
    margin-left: 10rem;

}
.name{
    height: 2rem;
    width: 36%;
    border-radius: 6px;
}
.email{
    height: 2rem;
    width:36% ; 
    border-radius: 6px;
}
.message{
    height: 10rem;
    width: 75%;
    border-radius: 6px;

}
footer{
 
    background-color: rgb(255, 255, 255);
    
}
.col-sm{
    background-color: rgb(207, 207, 207);
    height: 6rem;
    width: 30%;
    display: inline;
}

ul{
    text-decoration: none;
    display: inline;
    word-spacing: 3rem;
    width: 100%;
    font-size: 2rem;
}
li{
    display: inline;
    color: rgb(0, 0, 0);
    
}
.socials{
    padding: 2rem;
    text-align: center;
}
.writing-s{
    padding: 0;
    margin-top: 3rem;
    font-size: .8rem;
    color: black;
    text-align: center;
    
    
}


