html{
    
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    height: 40rem;
    line-height: 4rem;
    text-align: center;
    background: url(img/h_img.jpg);
    background-size: cover;
    color: #fff;
    

}
.logo-img {
    padding-top: 7rem;
    height: 6rem;
    width: 6rem;
}
.header-txt{
    padding-top: 1rem;
    font-size: 2rem;

}
.bottom-header-txt{
    font-size: .7rem;

}
.mou-se {
    padding-top: 8rem;
    height: 2rem;
    width: 1.4rem;
}
h2{
    text-align: center;
    
}

.about-us{
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(61, 19, 19);
    height: 14rem;
    line-height: 2.2rem;

}

.ser-vice{
    text-align: center;
    background: url(img/s_image.jpg);
    color: rgb(255, 255, 255);
    height: 24rem;
    line-height: 3rem;
    

}
.service-h{
    padding-top: 4rem;
}
.what-we-do{
    
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 15rem;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}
.first-col{
    background-color: rgb(255, 255, 255);
    

}
.first-col:hover{
    background-color: aqua;
    cursor: pointer;
}

.whatwedo-img{
    height: 4.5rem;
    width: 4.5rem;

}
.row .column{
    flex: 20%;
    width: auto;
    height: 10rem;
    text-align: center;
    
}

p{
    font-size: 1rem;
}

h3{
    margin-bottom: 0;
    font-size: 1rem;
   
}

.portfolio{
    height: 23rem; 
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(0, 0, 0);
}
.container{
    margin-left: 11rem;
    width: 72%;
    align-self: center;
}

img{
    max-height: 12rem;
    width: 12rem;
    padding: -5rem;
    cursor: pointer;
}

.contact-us{
    background: url(img/c_image.jpg);
    left: 2rem;
    height: 27rem;
    line-height: 3rem;
    color: #fff;
    

}

form{
    margin-left: 10rem;
    

}
.name{
    height: 2rem;
    width: 36%;
    border-radius: 6px;
    background: none;
}
.email{
    height: 2rem;
    width:36% ; 
    border-radius: 6px;
    background: none;
}
.message{
    height: 10rem;
    width: 75%;
    border-radius: 6px;
    background: none;

}
::placeholder{
    color: #fff;
}
footer{
 
    background-color: rgb(255, 255, 255);
    
}


ul{
    text-decoration: none;
    display: inline;
    word-spacing: 1.3rem;
    width: 100%;
    
}
li{
    display: inline;
    color: rgb(0, 0, 0);
    
}
.socials{
    padding: 2rem;
    text-align: center;
}
.socials-img{
    height: 2rem;
    width: 2rem;
}
.writing-s{
    padding: 0;
    margin-top: 3rem;
    font-size: .8rem;
    color: black;
    text-align: center;
    
    
}


